/* form.css */
body {
  background-image: linear-gradient(to right, #FBF3ED , #DBFAE0);
}

.login-heading {
    text-align: center;
}

.message {
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-message { 
    font-size: 18px;
	color: red;
	font-weight: bold;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
}


.main-login {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-form input[type="text"],
.login-form input[type="password"], 
.login-form input[type="email"] {
    width: 400px;
	height: 25px;
    padding: 10px;
    margin-bottom: 10px;
	border-radius: 4px;
}



.login-form input[type="submit"] {
    width: 420px;
	height: 50px;
    padding: 10px;
    font-size: 22px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}

.form-link {
    text-align: center;
    font-size: 18px;
	margin-bottom: 40px;
}

@media (max-width: 480px) {
    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form input[type="submit"] {
        width: 100%;
    }
}