<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form-styles.css') }}">

</head>
<body>

<div class="header" style="background-color: #2C6DC4; padding: 7px; display: flex; align-items: center; justify-content: center;">
    <img src="{{ url_for('send_image', filename='icon1.png') }}" style="width: 100px;">
    <img src="{{ url_for('send_image', filename='icon2.png') }}"  style="width: 50%;">
</div>

<br>


  <div class="form-container">
    <div class="form-title">
      Signup Form
    </div>
	<form method="POST" action="{{ url_for('register') }}" class="login-form">
      <div class="form-group">
        <input type="text" placeholder="First Name" name="first_name" id="first_name" class="form-input" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last Name" name="last_name" id="last_name" class="form-input" required>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" name="email" id="email" class="form-input" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Username" name="username" id="username" class="form-input" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" name="password" id="password" class="form-input" required>
      </div>
      <div class="form-group-submit">
        <input type="submit" value="Register" class="submit-button">
      </div>
	{% if message %}
	<p class="login-message">{{ message }}</p>
	{% endif %}
    </form>
    <div class="login-link">
      <p>I already have an account? <a href="{{ url_for('login') }}" onclick="showSignupForm()">Log in</a></p>
    </div>
  </div>
<br>

<div class="footer" style="background-color: #2C6DC4; padding: 10px; text-align: center;">
  <h2 style="color: white; font-size: 18px;">Handwriting Text Recognition System</h2>
</div>
</body>
</html>